.navigation{
     display: inline-flex;
     color: black; 
     margin-left: 30%;
     margin-top: -50%;
     list-style: none;
     margin-right: 3%;
     }
     .abu{
         margin-top: 5%;
     }
     .btn{
         margin-left: 30%;
     }

     p{
         font-size: 30px;
         margin-top: 1%;
     }
     nav button{
         margin-left: 90%;
        background-color: #0000ff;
        border: none;
        margin-top: -5%;

     }

     .contact{
        margin-top: -14%;
        margin-left: 10%;
        width: 70px;
    
    
     }
     body{
            background-color: #d7d9e7;
     }
     .proj{
         background-color: #f5f5f5;
         color: #d7d9e7;
         font-weight: bold;
         border-radius: 31px;
         margin-left: 20%;
         margin-top: -3%;
         width: 100px;


     }
     .inst{
         display: inline flex;
     }

     .product{
         font-size: medium;
         font-family: 'Times New Roman', Times, serif;
         margin-right: 2%;
         margin-bottom: 20%;



     }
     .instagram{
         margin-top: 8%;
         margin-left: 22%;
         font-size: 40px;
         background-color: #ffff00;
         width: 48px;
         height: 48px;
         text-align: center;
         border-radius: 20px;


     }
     .twitter{
        margin-top: -3.7%;
        margin-left: 15%;
        font-size: 40px;
        background-color: #43a192;
        height: 48px;
        width: 48px;
        border-radius: 20px;
        text-align: center;


     }.first{
         background-color: #d7d9e7;
     }
     
     .first button{
         border: solid 5px;
         border-radius: 25px;


     }
     .photo1{
     margin-right: 45px;
     float: right;
     background-image: url(splash-removebg-preview.png);
    
     margin-top: -35%;

     
     

     }
     .Experience p1,p2,p3{
         
         display: flex;
         font-size: 20px;
         margin-top: 5%;
         float: right;
       background-color: #f5f5f5;
       width: 210px;
         padding: 30px;
         border-radius: 2px;
         margin: 1%;
         margin-left: 10%;
          
     }
     
     .prud{
         display: flex;
         margin-left: 10%;
         float: left;
         padding-left: 5%;
         margin-top: 2%;
         padding-right: 5px;

     }.slack{
         margin-bottom: 10%;
     }
     .prudential{
     color: #808080;
    
     margin-left: -8%;
     padding-bottom: -20%;
     margin-top: 4%;

}
.zoover{
    margin-left: 20%;
    margin-top: 9%;
}
.ms{
    margin-left: 15%;
    margin-top: 8%;
}

.Agen{
    display: flex;
     margin-top: 40%;
    margin-right: 50%;

}.Help{
    margin-left: 50%;
    margin-top: 10%;
    font-size: 20px;
}


.main{
    display: flex;
    padding: 2%;
    margin-left: 3%;
    background-color: #eaf6fe;
    height: 500px;
    margin-bottom: -10%;
}
.design{
    padding: 2%;
    margin-bottom: 50%;

}.design p{
    font-size: 20px;
    margin-bottom: 15%;

}.design h3{
    margin-top: 2%;
}

.dev{
    padding: 2%;
    background-color:#43a192 ;
    height: 200px;


}.dev p{
    font-size: 20px;
    margin-bottom: -8%;
}
.dev h1{
    margin-bottom: 5%;
}
.market{
    padding: 2%;

    
}.market p{
    font-size: 20px;
}
.operation{
    display: flex;
    margin-top: 7%;
    background-color: #eaf6fe;


}.black{
    background: no-repeat;
 background-image: url(coloured-removebg-preview.png);
 margin-left: 2%;
 margin-right: 15%;
 

 }
 .full{
     margin-top: 8%;

    

 }.ranges p{
     margin-top: 2%;
     margin-left: -30%;
     text-align: left;
    /* border-width: 20%; */
    
     
 }
 .ranges2{
   margin-left: -17%;
   margin-top: 13%;  
 }
 .ranges3{
    margin-left: -25%;
    margin-top: 19%;  
  }
 

 .work h5{
     margin-top: 10%;
 }
 .projects {
     font-size: 24px;
     margin-top: -10%;
     margin-left: 4%


 }.full {

   background-color: #00ff0d;
    border-radius: 25px;
    border:solid 10px;
 }
 .technical{
     border-radius: 20px;
     border:solid  10px;
     color: #0000ff;
     border-color: #0000ff;
     margin-bottom: 20%;
 }
 .merchant{
    color: #ffff00;
     border: solid   10px; 
     border-radius: 25px;
     margin-right: 10%;
 }
 .second{
     background-color: #eaf6fe;
 }
 .sign{
     font-size: 24px;
     background-color: #f0f8ff;

 }.second button{
      background-color: #0000ff;
      margin-left: 7%;
 
 }
 .last{
     background-color: #f5f5f5;

 }
 .product h1{
     margin-left: 10%;
     font-size: 33px;
 }
 .product p{
     margin-left: 10%;
     font-size: 29px;
 }
 .mail{
    align-content: center;
    font-size: 25px;
    width: 700px;
    height: 200px;
    margin-bottom: 100px;
    margin-left: 14%;
    border-radius: 10px;
 }.mind h1{
     font-size: 24px;
     margin-top: -10%;
 }
 .update{
        text-align: center;
        margin-top: 2%; 
        background-color: white;
        height: 50%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        text-align: center;
    }
    .email{
        margin-left: 10%;
        margin-bottom: -10%;
    
    }
    .mail input{
        width: 600px;
        height: 10vh;
        background-color: rgb(158, 248, 210);
        border-radius: 20px;
        border: none;
    }
    .mail button{
        margin-left: -11%; 
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: rgb(67, 67, 216);
    }
    
    .mind h1{
        margin-top: -1%;
        margin-left: 10%;
    }
    
    .butt{
        margin-left: 20%;
        margin-top: 4%;
        color: #00ff0d;
    }

 .image3{
     margin-top: -50%;
     margin-left: 30%;
 }
 .work h4{
     margin-top: -20%;
 }
 .work h4{
     margin-top: 5%;
     margin-left: 3%;

 }.End{
     margin-top: -5%;
 }
 .footer{
     font-size: 30px;
     margin-left: 2%;
     margin-top: -16%;
 }
 .form1{
     margin-top: -2%;
     
 }
 .form2 input{
     margin-bottom: -30%;
    background-color: #ffc0cb;
 }
 .Final{
     height: 600px;
     background-color: rgb(252,250,250);
 }
 .send input{
     margin-top: -40%;
 }.form1 input{
     background-color: #ffc0cb;
 }.send input{
     background-color: #00ff0d;
     border-radius: 30px;
     padding: 5px;
     margin-left: 7%;
     margin-top: -10%;
     
 }.dev i{
     background-color: #ffffff;
 }
 .design i{
     background-color: #0000ff;
 }
 .crown{
     background-color: #ffff00;

 }
    



